<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/site-wide.css">
    <link rel="stylesheet" href="/css/{{cssFileName}}">
    

    <title>Get Fit Studios</title>
</head>

<body>
    <!-- nav bar -->
    <header>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/schedule">Class</a></li>
                {{!-- TODO: --}}
                <!-- hide when logged out -->
                <li><a href="/checkout" style="visibility:hidden; visibility:{{cartBtnVisible}};">Cart</a></li>
                <!-- switch to logout when logged in -->
                <li><a href="/{{logInOut}}">{{logInOut}}</a><p id="loggedInUserEmail">{{loggedInUserEmail}}</p></li>
            </ul>
        </nav>
    </header>


    <main>
        <!-- main -->
        {{{ body}}}
    </main>

    
    
</body>

</html>